p, h1, h2, h3, h4, h5, h6, div, a {
    font-family: 'Open Sans Condensed', sans-serif;
}
p, h5 {
    font-size: 20px;
}
h3 {
    font-size: 30px;
    margin: 10px 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
}

body {
    text-align: center;
    margin: 0;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
#logo {
    width: 300px;
    margin-top: 20px;
}
h2 {
    color: #396180;
    font-weight: 100;
}

nav {
    background: #C8A644;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.section {
    padding: 20px 10px;
}
.banner {
    background: url(../img/hm-mantle.jpg) no-repeat center;
    background-size: cover;
    height: 325px;
}
#about div {
    margin: 50px 0 0; 
}
.button {
    background: #396180;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    font-size: 22px;
}

#services {
    background: #ebebeb;
}
.boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}
#contact .boxes {
    max-width: 680px;
}
#contact .boxes:first-child {
    text-align: left;
}
#contact .boxes:last-child {
    text-align: right;
}
#contact i.fas {
    font-size: 22px;
}
.iconBox {
    margin: 20px;
    flex: 1 1 0;
}
.iconBox img {
    max-height: 35px;
}
#dropoff .iconBox {
    padding: 0 30px;
}
.fas {
    font-size: 2.2em;
}
.hours p {
    margin: 10px 0;
}
.map {
    overflow:hidden;
    padding-bottom:70%;
    position:relative;
    height:0;
}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

footer {
    box-shadow: 0px -6px 9px -5px;
    padding: 5px 0;}

@media (min-width: 768px) {
    .boxes {
        flex-direction: row;
    }
}
@media (min-width: 1024px) {
    .banner {
        background-attachment: fixed;
    }
}