p, h1, h2, h3, h4, h5, h6, div, a {
    font-family: 'Open Sans', sans-serif;
}
h3 {
    font-size: 30px;
}

body {
    text-align: center;
    margin: 0;
}

nav {
    background: #C8A644;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
nav a:hover {
    color: gray;
}
.section {
    padding: 20px 0;
}
.banner {
    background: url(../img/hm-mantle.jpg) no-repeat center;
    background-size: cover;
    height: 350px;
}

/* Services */
#services {
    background: #ebebeb;
}
.boxes {
    display: flex;
    flex-direction: column;
}
.iconBox {
    margin: 20px;
}
.iconBox img {
    max-height: 35px;
}
.fas {
    font-size: 2.2em;
}

footer {
    border-top: 1px solid;
}

@media (min-width: 768px) {
    .boxes {
        flex-direction: row;
    }
}
@media (min-width: 1024px) {
    .banner {
        background-attachment: fixed;
    }
}